nav {
    background-color:#eaeaea;
    display:block;
    margin:0;
    padding:12px;
    width: 100%;
    position: fixed;
    z-index: 2;
    overflow-y: visible;
    font-size: 1.2em;
}
.nav-title {
  display: inline-block;
}
.nav-menu {
  display: inline-block;
  padding: 0;
  margin: 0;
}
a.home-link:link, a.home-link:visited, .home-text {
  color:rgb(10,45,66);  font-weight: bold;
  margin: 0;
  margin-right: 24px;
  margin-left: 24px;
}
a.nav-link:link, a.nav-link:visited {
  color:rgb(10,45,66);
  margin-right: 0px;
  margin-left: 24px;
}
a.home-link, a.nav-link {
  text-decoration: none;
}
a{
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.Grid {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 0;
}

.header{
  padding-top: 120px;
}

.gradient{
background: rgb(249,198,88);
background: linear-gradient(90deg, rgba(249,198,88,1) 22%, rgba(77,187,210,1) 71%);
}

ol, ul, li{
list-style: none;
margin: 0;
}

ul{
  padding:1em;
}

li{display:inline;}

#nav ul li {
    position: relative;
    padding: 1.0em;
    float: left;
}
#nav ul {
    width: 100%;
    max-width: 75em;
    margin: 0 auto;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}
ul#horizontal-list li {
		display: inline;
}

hr{
    margin:0;
    padding:0;
    color:  #eaeaea;
}

body{
    background-color: #eeeeee;
    margin:0;
    font-family: "Adobe Garamond W08", "adobe-garamond-pro", "AGaramondPro-Regular", "Times New Roman", "Times", "serif";    font-size: large;
}

h1, h2, h3, h4{
    color:  #3f3844;
    display: inline;
    padding:0px;
}
h1{
    font-size: 6em;
    color:rgb(10,45,66);
}

h2{
    font-size: 2em;
}

#body p {
    font-family: sans-serif;
    background-color: #eaeaea;
    color: black;
}
#body div{
    padding:10px;
}

pre{
    font-family: monospace;
    background-color: #eeeeee;
    padding:1em;
    margin:0;
}

@font-face {
    font-family: SansForgetica;
    src: url("../html-css-team-activity-aych_tea_em_el/SansForgetica-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

#main{
padding: 2em;
max-width: 1200px;
margin: 0 auto;
}

#footer {
    background-color:#eeeeee;
    overflow-x:hidden;
    padding-left:10%;
}

img{
  width:100%;
  border-radius:20px;
  margin-bottom:20px;
}
